.heading {
  background-color: #5e403e;
  color: white;
  height: 350px;
  
}

.heading-text {
  text-align: center;
  font-size: 4rem; 
  padding-top: 3%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* ourservice.css */

.services-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 90px;
padding: 80px;
}

.service-card {
background-color: #5e403e;
border-radius: 8px;
overflow: hidden;
width: 300px;
text-align: center;
transition: transform 0.2s;
}

.service-card:hover {
transform: translateY(-10px);
}

.service-image {
width: 100%;
height: auto;
}

.service-name {
font-size: 2rem;
margin: 50px 10px;
}
